{% extends "ui/screen.html" %}
{% block content %}
    <form method="post" class="mt-4 space-y-3">
        {% csrf_token %}
        <label class="block">
            <span class="text-[13px] font-medium text-ink-2">Current password</span>
            <input class="field mt-1"
                   type="password"
                   name="old_password"
                   autocomplete="current-password"
                   required
                   autofocus>
            {% include "signin/field_errors.html" with field=form.old_password %}
        </label>
        <label class="block">
            <span class="text-[13px] font-medium text-ink-2">New password</span>
            <input class="field mt-1"
                   type="password"
                   name="new_password1"
                   autocomplete="new-password"
                   required>
            {% include "signin/field_errors.html" with field=form.new_password1 %}
        </label>
        <label class="block">
            <span class="text-[13px] font-medium text-ink-2">New password again</span>
            <input class="field mt-1"
                   type="password"
                   name="new_password2"
                   autocomplete="new-password"
                   required>
            {% include "signin/field_errors.html" with field=form.new_password2 %}
        </label>
        <p class="pt-1 text-[13px] text-ink-3">Every other device is signed out.</p>
        {% include "signin/submit.html" with label="Change password" %}
    </form>
{% endblock %}
